<%- include("partials/header"); %>

<h1>Welcome to Lone_52.</h1>
<h4> <%= homeStartingContent %> </h4>

<%posts.forEach(function(post){ %>
<h2> <%= post.TITLE %> </h2>
<p><%= post.CONTENT.substring(0,100) +"..." %>
  <a href="/posts/<%=post.TITLE %>" >Read more.</a>
</p>
<%})%>


<%- include("partials/footer"); %>
