<%- include("partials/header"); %>

<h1>Welcome to Lone_52.</h1>
<h4> <%= homeStartingContent %> </h4>

<%posts.forEach(function(post){ %>
<h2> <%= post.title %> </h2>
<p> <%= post.content.substring(1,100)+"..."%>
  <a href="/posts/<%=post._id%>">Read more.</a>
</p>
<%})%>


<%- include("partials/footer"); %>
